<!-- Extend base.html file -->
{% extends "feedback/teacher/base_teacher.html" %}

<!-- Title block -->
{% block title %}Password Reset{% endblock %}

<!-- Main block -->
{% block loginbody %}
<div class="row mt-4">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form method="POST" class="auth-form">
            {% csrf_token %}
            <h2>Reset Password</h2>
            <div class="form-group mt-4">
                <label for="id_email">Email address:</label>
                <input name="email" class="form-control" type="email" id="id_email" required="true" autofocus>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" title="Reset password">
                Send reset email
            </button>
        </form>
    </div>
</div>

{% endblock %}