<!-- Extend base.html file -->
{% extends "feedback/teacher/base_teacher.html" %}

<!-- Title block -->
{% block title %}Password Reset Done{% endblock %}

<!-- Main block -->
{% block loginbody %}
<div class="row mt-4">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <p class="m-auto p-2">
            We've emailed you instructions for setting your password. If an account exists with the email you
            entered, you should receive them shortly. If you don't receive an email, please make sure you've entered the address you're registered with,
            or check your spam folder.
        </p>
        <hr>
        <p class="m-auto p-2 text-center"><a href="{% url 'teacher_login' %}" title="Home">Return to login page</a></p>
    </div>
</div>
{% endblock %}