{% extends "feedback/teacher/base_teacher.html" %}

{% block title %}Subjects{% endblock %}

{% block pass %}
<!--Change Password -->
    <a href="{% url 'password_change' %}" class="dropdown-item" title="Change password">
        Change Password <span><i class="fas fa-key"></i></span>
    </a>
    <div class="dropdown-divider"></div>
{% endblock %}

{% block subjectbody %}
<div class="row pt-4">
    <div class="col-lg-12">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#add">
                    Add Subject
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#manage">
                    Manage Subjects
                </a>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 mt-4">
        <div class="tab-content">
            <!-- Add Subject -->
            <div id="add" class="tab-pane container active">
                <form action="{% url 'add_subject' %}" method="POST">
                    {% csrf_token %}
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <label for="subject">Subject Name:</label> 
                            <input type="text" class="form-control" autocomplete="off" name="subject" id="subject" placeholder="Subject Name" title="Enter a Subject" required>
                        </div>  
                        <div class="col-lg-6">
                            <label for="teacher">Teacher Name:</label>
                            <select class="form-control" name="teacher" id="teacher" required="True" title="Make Your Choice">
                                <option value="" selected disabled>-- Select Teacher --</option>
                                {% for teacher in teachers %}
                                    <option value="{{ teacher.id }}">({{teacher.department}}) - {{ teacher.user.first_name }} {{ teacher.user.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <label for="semester">Semester:</label>
                            <select class="form-control" name="semester" id="semester" required="True" title="Make Your Choice">
                                <option value="" selected disabled>-- Select Semester --</option>
                                {% if subjects.department.department_name == "First Year" %}
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                {% else %}
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="practical">Subject Type:</label>
                            <select class="form-control" onchange="b('heading', 'batches');" name="practical" id="practical" required="True" title="Make Your Choice">
                                <option value="" selected disabled>-- Subject Type --</option>
                                <option value="False">Theoretical</option>
                                <option value="True">Practical</option>
                            </select>
                        </div>
                    </div>
                    <!-- Bacthes -->
                    <div class="hide" id="heading">
                        <label>Select Batches for Practical:</label>
                    </div>
                    <div class="hide" id="batches">
                        <div class="col-lg-1">
                            <div class="form-check pb-1">
                                <input type="checkbox" class="form-check-input" name="batch" id="b1" value="b1">
                                <label for="b1" class="form-label">B1</label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-check pb-1">
                                <input type="checkbox" class="form-check-input" name="batch" id="b2" value="b2">
                                <label for="b2" class="form-label">B2</label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <input type="checkbox" class="form-check-input" name="batch" id="b3" value="b3">
                            <label for="b3" class="form-label">B3</label>
                        </div>
                        <div class="col-lg-1">
                            <input type="checkbox" class="form-check-input" name="batch" id="b4" value="b4">
                            <label for="b4" class="form-label">B4</label>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-primary btn-block">
                                Assign Subject <i class="fas fa-address-card"></i>
                            </button>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-2">
                            <a href="{% url 'teacher_index' %}" class="btn btn-info btn-block">
                                Go back <i class="fas fa-reply"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Theoretical Details -->
            <div id="manage" class="tab-pane container">
                <!-- Theory Subjects -->
                    <h3 class="text-center mb-3 mt-5">
                        <kbd>Theoretical Subjects</kbd>
                    </h3>
                    {% if i == 0 %}
                    <!-- When no subjects are assign -->
                    <div class="row mt-4">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="card error">
                                <h1 class="text-center">
                                    <i class="fas fa-quote-left"></i> No Subjects Assigned Yet. <i class="fas fa-quote-right"></i>
                                </h1>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <table class="table table-striped table-bordered mt-5"  width="100%">
                        <thead class="table table-primary">
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th class="text-center">Teacher Name</th>
                                <th class="text-center">Subject Name</th>
                                <th class="text-center">Semester</th>
                                <th class="text-center">Subject Type</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in subjects %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center">{{ subject.teacher.user.first_name }} {{ subject.teacher.user.last_name }}</td>
                                <td class="text-center">{{ subject.subject_name }}</td>
                                <td class="text-center">{{ subject.semester }}</td>
                                <td class="text-center">Theoretical</td>
                                <td class="text-center">
                                    <a href="/teacher/subject/theory/details/{{ subject.id }}" class="btn btn-block btn-primary">
                                        Edit <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="/teacher/subject/theory/delete/{{ subject.id }}" class="btn btn-block btn-danger">
                                        Delete <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    <!-- Practical Subjects -->
                    <h3 class="text-center mb-3 mt-5">
                        <kbd>Practical Subjects</kbd>
                    </h3>
                    {% if j == 0 %}
                    <!-- When no subjects are assign -->
                    <div class="row mt-5">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="card error">
                                <h1 class="text-center">
                                    <i class="fas fa-quote-left"></i> No Subjects Assigned Yet. <i class="fas fa-quote-right"></i>
                                </h1>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <table class="table table-striped table-bordered mt-5" width="100%">
                        <thead class="table table-primary">
                            <tr>
                                <th class="text-center">Sr. No.</th>
                                <th class="text-center">Teacher Name</th>
                                <th class="text-center">Subject Name</th>
                                <th class="text-center">Semester</th>
                                <th class="text-center">Subject Type</th>
                                <th class="text-center">Batch</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for b in batches %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center">{{ b.subject.teacher.user.first_name }} {{ b.subject.teacher.user.last_name }}</td>
                                <td class="text-center">{{ b.subject.subject_name }}</td>
                                <td class="text-center">{{ b.subject.semester }}</td>
                                <td class="text-center">Practical</td>
                                <td class="text-center">{{ b.batch }}</td>
                                <td class="text-center">
                                    <a href="/teacher/subject/practical/details/{{ b.id }}" class="btn btn-block btn-primary">
                                        Edit <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="/teacher/subject/practical/delete/{{ b.id }}" class="btn btn-block btn-danger">
                                        Delete <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                <div class="row mt-5">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2 text-right">
                        <a href="{% url 'teacher_index' %}" class="btn btn-info btn-block">
                            Go back <i class="fas fa-reply"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Persistant Tabs -->
<script>
    $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });

    var activeTab = localStorage.getItem('activeTab');
    if(activeTab) {
        $('.nav-pills a[href="' + activeTab + '"]').tab('show');
    }
</script>
{% endblock %}