{% extends "feedback/teacher/base_teacher.html" %}

{% block title %}Subject Details{% endblock %}

{% block pass %}
<!--Change Password -->
    <a href="{% url 'password_change' %}" class="dropdown-item" title="Change password">
        Change Password <span><i class="fas fa-key"></i></span>
    </a>
    <div class="dropdown-divider"></div>
{% endblock %}

{% block subjectbody %}
<div class="row pt-4">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form action="{% url 'practical_edit' %}" method="POST" class="detail-form details">
            {% csrf_token %}
            <input type="hidden" value="{{ batch.id }}" name="id">
            <div class="form-group form-row">
                <label for="first_name">
                    First name:
                </label>
                <input type="text" name="first_name" id="first_name" value="{{ batch.subject.teacher.user.first_name }}" disabled required>
            </div>
            <div class="form-group form-row">
                <label for="last_name">
                    Last name:
                </label>
                <input type="text" name="last_name" id="last_name" value="{{ batch.subject.teacher.user.last_name }}" disabled required>
            </div>
            <div class="form-group form-row">
                <label for="subjectType">
                    Subject Type:
                </label>
                    <input type="text" name="practicalType" id="practicalType" value="Practical" disabled required>
            </div>
            <div class="form-group form-row">
                <label for="batch">
                    Subject Batch:
                </label>
                    <input type="text" name="batch" id="batch" value="{{ batch.batch }}" disabled required>
            </div>
            <div class="form-group form-row">
                <label for="subjectName">
                    Subject Name:
                </label>
                <input type="text" name="subjectName" id="subjectName" value="{{ batch.subject.subject_name }}" required>
            </div>
            <div class="form-group form-row">
                <label for="semester">
                    Semester:
                </label>
                <select class="form-control" name="semester" id="semester" required="True">
                    {% if batch.subject.department.department_name == "First Year" %}
                        {% if batch.subject.semester == 1 %}
                            <option selected value="{{ batch.subject.semester }}">
                                {{ batch.subject.semester }}
                            </option>
                            <option value="2">2</option>
                        {% elif batch.subject.semester == 2 %}
                            <option value="1">1</option>
                            <option selected value="{{ batch.subject.semester }}">
                                {{ batch.subject.semester }}
                            </option>
                        {% endif %}
                    {% endif %}
                    {% if not batch.subject.department.department_name == "First Year" %}
                        {% if batch.subject.semester == 3 %}
                            <option selected value="{{ batch.subject.semester }}">
                                {{ batch.subject.semester }}
                            </option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        {% elif batch.subject.semester == 4 %}
                            <option value="3">3</option>
                            <option selected value="{{ batch.subject.semester }}">
                                {{ batch.subject.semester }}
                            </option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        {% elif batch.subject.semester == 5 %}
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option selected value="{{ batch.subject.semester }}">
                                {{ batch.subject.semester }}
                            </option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        {% elif batch.subject.semester == 6 %}
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option selected value="{{ batch.subject.semester }}">
                                {{ batch.subject.semester }}
                            </option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        {% elif batch.subject.semester == 7 %}
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option selected value="{{ batch.subject.semester }}">
                                {{ batch.subject.semester }}
                            </option>
                            <option value="8">8</option>
                        {% else %}
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option selected value="{{ subject.semester }}">
                                {{ batch.subject.semester }}
                            </option>
                        {% endif %}
                    {% endif %}
                </select>
            </div>
            <div class="row pt-4">
                <div class="col-lg-4"></div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-block btn-primary">
                        Update <i class="fas fa-angle-double-up"></i>
                    </button>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <a href="/teacher/add/subject" class="btn btn-block btn-info">
                        Go Back <i class="fas fa-reply"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}