{% extends "feedback/teacher/base_teacher.html" %}
{% block title %}
Log In
{% endblock %}
{% block loginbody %}
{% if messages %}
{% for message in messages %}
<div class="row mt-4">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="alert alert-primary alert-dismissible fade show" id="popup">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>{{ message }}</strong>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
<div class="row mt-4">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="jumbotron text-center" id="popup">
      <form action="{% url 'teacher_login' %}" method="POST">
        {% csrf_token %}
        <h3 class="text-center">Teacher Login</h3>
        <hr>
        <div class="form-group">
          {{ form.username }}
        </div>
        <div class="form-group">
          <div class="input-group">
            {{ form.password }}
            <div class="input-group-append">
              <span class="btn passShowHide" onclick="show_hide();">
                <i id="pass" class="fas fa-eye"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" title="Log In">
            Log In <i class="fas fa-sign-in-alt"></i>
          </button>
        </div>

        <hr>
        <h6>
          <div class="form-group">
            New User? <a href="{% url 'register' %}" title="Registration">Register now!</a>
          </div>
        </h6>
        <!-- Password reset -->
        <h6 class="text-center">
          <a href="{% url 'password_reset' %}" title="Reset password">Forgot Password?</a>
        </h6>
      </form>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="footer">
  <strong>
    Developed by <a href="https://sufiy-rakhange.github.io/Portfolio/" class="footer-button"><u>SUFIYAN RAKHANGE</u></a> & Team.
  </strong>
</footer>
{% endblock %}