{% extends "feedback/admin/base_admin.html" %}

{% block title %}Delete Confirmation{% endblock %}

<!--Change Password -->
{% block pass %}
    <a href="{% url 'password_change' %}" class="dropdown-item" title="Change password">
        Change Password <span><i class="fas fa-key"></i></span>
    </a>
    <div class="dropdown-divider"></div>
{% endblock %}

{% block index %}
<div class="col-lg-12">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 pt-4">
                <form action="{% url 'student_deletion' %} " method="POST" class="detail-form details">
                    {% csrf_token %}
                    <input type="hidden" value="{{ student.id }}" name="id">
                    <div class="form-group form-row">
                        <label for="username">Username:</label>
                        <input type="text" value="{{student.user.username}}" name="username" id="username" disabled>
                    </div>
                    <div class="form-group form-row">
                        <label for="first_name">First Name:</label>
                        <input type="text" value="{{student.user.first_name}}" name="first_name" id="first_name" disabled>
                    </div>
                    <div class="form-group form-row">
                        <label for="last_name">Last Name:</label>
                        <input type="text" value="{{student.user.last_name}}" name="last_name" id="last_name" disabled>
                    </div>
                    <div class="form-group form-row">
                        <label for="email">Email Address:</label>
                        <input type="email" value="{{student.user.email}}" name="email" id="email" disabled>
                    </div>
                    <div class="form-group form-row">
                        <label for="department">Department:</label>
                        <input type="text" value="{{student.department.department_name}}" name="department" id="department" disabled>
                    </div>
                    <div class="form-group form-row">
                        <label for="semester">Semester:</label>
                        <input type="text" value="{{student.semester}}" name="semester" id="semester" disabled>
                    </div>
                    <div class="form-group form-row">
                        <label for="attendance">Attendance:</label>
                        <input type="text" value="{{student.attendance}}" name="attendance" id="attendance" disabled>
                    </div>
                    <div class="row pt-2">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-danger btn-block">
                                Delete <i class="fas fa-minus-circle"></i>
                            </button>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <a href="/admin/student/list" class="btn btn-info btn-block">
                                Go Back <i class="fas fa-reply"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}