{% extends "feedback/admin/base_admin.html" %}

{% block title %}Student List{% endblock %}

{% block pass %}
<!--Change Password -->
<a href="{% url 'password_change' %}" class="dropdown-item" title="Change password">
    Change Password <span><i class="fas fa-key"></i></span>
</a>
<div class="dropdown-divider"></div>
{% endblock %}

{% block index %}
<div class="col-lg-2 col-sm-6 col-md-2 pr-0 pt-4 menu">
    <ul class="nav nav-pills nav-fill flex-column">
        <li class="nav-item"><a class="nav-link br-0" href="/admin"
                title="Add Student">
                Add Student
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link br-0 active" href="{% url 'student_list' %}"
                title="Student Details">
                Student Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link br-0" href="{% url 'teacher_list' %}"
                title="Teacher Details">
                Teacher Details
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link br-0" href="{% url 'moderate' %}"
                title="Moderate">
                Moderate Teachers <span class="badge badge-primary badge-lg">{{ length }}</span>
            </a>
        </li>
    </ul>
</div>
<div class="pl-5 ml-3"></div>
<div class="col-lg-9 pt-5">
    <div class="row">
        <div class="col-lg-12 col-md-2 col-sm-2">
            <ul class="nav nav-pills nav-fill nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#fy" title="First Year Department">
                        First Year
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#chemical"
                        title="Chemical Department">
                        Chemical
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#civil"
                        title="Civil Department">
                        Civil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#computer"
                        title="Computer Department">
                        Computer
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#extc"
                        title="ExTc Department">
                        ExTc</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#mechanical"
                        title="Mechanical Department">
                        Mechanical
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="row mt-4 mb-5">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="alert alert-primary alert-dismissible fade show" id="popup">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
    <div class="col-lg-12 p-0">
        <div class="tab-content">
            <!-- First Year -->
            <div id="fy" class="tab-pane active">
                {% if students %}
                <div class="input-group mt-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text search">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input class="form-control" onkeyup="Search('fyInput', 'fyBody', 'fyTable', 'fyError')"
                        type="text" placeholder="Search by First Name or Last Name" aria-label="Search"
                        title="Search" name="searchQuery" id="fyInput">
                </div>
                <!-- Displaying Error for Search -->
                <div class="card error mt-5 mb-5" style="display: none;" id="fyError">
                    <h1 class="text-center">No Such Data Found...</h1>
                </div>
                <table class="table table-striped table-bordered mt-4" id="fyTable">
                    <thead class="table table-primary">
                        <tr>
                            <th class="text-center">Username</th>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Batch</th>
                            <th class="text-center">Semester</th>
                            <th class="text-center">Attendance</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="fyBody">
                        {% for student in students %}
                        <tr>
                            <td class="text-center">{{ student.user.username }}</td>
                            <td class="text-center">{{ student.user.first_name }}</td>
                            <td class="text-center">{{ student.user.last_name }}</td>
                            <td class="text-center">{{ student.user.email }}</td>
                            <td class="text-center">{{ student.batch }}</td>
                            <td class="text-center">{{ student.semester }}</td>
                            <td class="text-center">{{ student.attendance }}</td>
                            <td>
                                <a href="/admin/student/details/{{ student.id }}" class="btn btn-primary btn-block">
                                    Edit <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/student/delete/{{ student.id }}" class="btn btn-danger btn-block">
                                    Delete <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="alert alert-light page">
                    <span class="step-links">
                        {% if students.has_previous %}
                        <a href="?page1=1&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{page6}}">&laquo; first</a>
                        <a href="?page1={{ students.previous_page_number }}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{page6}}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ students.number }} of {{ students.paginator.num_pages }}
                        </span>
                        {% if students.has_next %}
                        <a href="?page1={{ students.next_page_number }}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{page6}}">next</a>
                        <a href="?page1={{ students.paginator.num_pages }}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{page6}}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <!-- Displaying Error for no student entry in department -->
                <div class="row top100">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="card error">
                            <h1 class="text-center">No Data Found of First Year Department</h1>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- Chemical -->
            <div id="chemical" class="tab-pane">
                {% if chemicals %}
                <div class="input-group mt-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text search">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input class="form-control" onkeyup="Search('chInput', 'chBody', 'chTable', 'chError')"
                        type="text" placeholder="Search by First Name or Last Name" aria-label="Search"
                        title="Search" name="searchQuery" id="chInput">
                </div>
                <!-- Displaying Error for Search -->
                <div class="card error mt-5 mb-5" style="display: none;" id="chError">
                    <h1 class="text-center">No Such Data Found...</h1>
                </div>
                <table class="table table-striped table-bordered mt-4" id="chTable">
                    <thead class="table table-primary">
                        <tr>
                            <th class="text-center">Username</th>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Batch</th>
                            <th class="text-center">Semester</th>
                            <th class="text-center">Attendance</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="chBody">
                        {% for chemical in chemicals %}
                        <tr>
                            <td class="text-center">{{ chemical.user.username }}</td>
                            <td class="text-center">{{ chemical.user.first_name }}</td>
                            <td class="text-center">{{ chemical.user.last_name }}</td>
                            <td class="text-center">{{ chemical.user.email }}</td>
                            <td class="text-center">{{ chemical.batch }}</td>
                            <td class="text-center">{{ chemical.semester }}</td>
                            <td class="text-center">{{ chemical.attendance }}</td>
                            <td class="text-center">
                                <a href="/admin/student/details/{{ chemical.id }}" class="btn btn-primary btn-block">
                                    Edit <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="/admin/student/delete/{{ chemical.id }}" class="btn btn-danger btn-block">
                                Delete <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="alert alert-light page">
                    <span class="step-links">
                        {% if chemicals.has_previous %}
                        <a href="?page1={{page1}}&page2=1&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{page6}}">&laquo; first</a>
                        <a href="?page1={{page1}}&page2={{ chemicals.previous_page_number }}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{page6}}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ chemicals.number }} of {{ chemicals.paginator.num_pages }}
                        </span>
                        {% if chemicals.has_next %}
                        <a href="?page1={{page1}}&page2={{ chemicals.next_page_number }}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{page6}}">next</a>
                        <a href="?page1={{page1}}&page2={{ chemicals.paginator.num_pages }}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{page6}}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <!-- Displaying Error for no student entry in department -->
                <div class="row top100">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="card error">
                            <h1 class="text-center">No Data Found of Chemical Department</h1>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- Civil -->
            <div id="civil" class="tab-pane">
                {% if civils %}
                <div class="input-group mt-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text search">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input class="form-control" onkeyup="Search('cvInput', 'cvBody', 'cvTable', 'cvError')"
                        type="text" placeholder="Search by First Name or Last Name" aria-label="Search"
                        title="Search" name="searchQuery" id="cvInput">
                </div>
                <!-- Displaying Error for Search -->
                <div class="card error mt-5 mb-5" style="display: none;" id="cvError">
                    <h1 class="text-center">No Such Data Found...</h1>
                </div>
                <table class="table table-striped table-bordered mt-4" id="cvTable">
                    <thead class="table table-primary">
                        <tr>
                            <th class="text-center">Username</th>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Batch</th>
                            <th class="text-center">Semester</th>
                            <th class="text-center">Attendance</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="cvBody">
                        {% for civil in civils %}
                        <tr>
                            <td class="text-center">{{ civil.user.username }}</td>
                            <td class="text-center">{{ civil.user.first_name }}</td>
                            <td class="text-center">{{ civil.user.last_name }}</td>
                            <td class="text-center">{{ civil.user.email }}</td>
                            <td class="text-center">{{ civil.batch }}</td>
                            <td class="text-center">{{ civil.semester }}</td>
                            <td class="text-center">{{ civil.attendance }}</td>
                            <td>
                                <a href="/admin/student/details/{{ civil.id }}" class="btn btn-primary">
                                    Edit <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td><a href="/admin/student/delete/{{ civil.id }}" class="btn btn-danger">
                                    Delete <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="alert alert-light page">
                    <span class="step-links">
                        {% if civils.has_previous %}
                        <a href="?page1={{page1}}&page2={{page2}}&page3=1&page4={{page4}}&page5={{page5}}&page6={{page6}}">&laquo; first</a>
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{ civils.previous_page_number }}&page4={{page4}}&page5={{page5}}&page6={{page6}}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ civils.number }} of {{ civils.paginator.num_pages }}
                        </span>
                        {% if civils.has_next %}
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{ civils.next_page_number }}&page4={{page4}}&page5={{page5}}&page6={{page6}}">next</a>
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{ civils.paginator.num_pages }}&page4={{page4}}&page5={{page5}}&page6={{page6}}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <!-- Displaying Error for no student entry in department -->
                <div class="row top100">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="card error">
                            <h1 class="text-center">No Data Found of Civil Department</h1>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- Computer -->
            <div id="computer" class="tab-pane">
                {% if computers %}
                <div class="input-group mt-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text search">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input class="form-control" onkeyup="Search('cmInput', 'cmBody', 'cmTable', 'cmError')"
                        type="text" placeholder="Search by First Name or Last Name" aria-label="Search"
                        title="Search" name="searchQuery" id="cmInput">
                </div>
                <!-- Displaying Error for Search -->
                <div class="card error mt-5 mb-5" style="display: none;" id="cmError">
                    <h1 class="text-center">No Such Data Found...</h1>
                </div>
                <table class="table table-striped table-bordered mt-4" style="width: 100%;" id="cmTable">
                    <thead class="table table-primary">
                        <tr>
                            <th class="text-center">Username</th>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Batch</th>
                            <th class="text-center">Semester</th>
                            <th class="text-center">Attendance</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="cmBody">
                        {% for computer in computers %}
                        <tr>
                            <td class="text-center">{{ computer.user.username }}</td>
                            <td class="text-center">{{ computer.user.first_name }}</td>
                            <td class="text-center">{{ computer.user.last_name }}</td>
                            <td class="text-center">{{ computer.user.email }}</td>
                            <td class="text-center">{{ computer.batch }}</td>
                            <td class="text-center">{{ computer.semester }}</td>
                            <td class="text-center">{{ computer.attendance }}</td>
                            <td>
                                <a href="/admin/student/details/{{ computer.id }}" class="btn btn-primary btn-block">
                                    Edit <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/student/delete/{{ computer.id }}" class="btn btn-danger btn-block">
                                    Delete <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="alert alert-light page">
                    <span class="step-links">
                        {% if computers.has_previous %}
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4=1&page5={{page5}}&page6={{page6}}">&laquo; first</a>
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{ computers.previous_page_number }}&page5={{page5}}&page6={{page6}}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ computers.number }} of {{ computers.paginator.num_pages }}
                        </span>
                        {% if computers.has_next %}
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{ computers.next_page_number }}&page5={{page5}}&page6={{page6}}">next</a>
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{ computers.paginator.num_pages }}&page5={{page5}}&page6={{page6}}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <!-- Displaying Error for no student entry in department -->
                <div class="row top100">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="card error">
                            <h1 class="text-center">No Data Found of Computer Department</h1>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- ExTC -->
            <div id="extc" class="tab-pane">
                {% if extc %}
                <div class="input-group mt-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text search">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input class="form-control" onkeyup="Search('eInput', 'eBody', 'eTable', 'eError')"
                        type="text" placeholder="Search by First Name or Last Name" aria-label="Search"
                        title="Search" name="searchQuery" id="eInput">
                </div>
                <!-- Displaying Error for Search -->
                <div class="card error mt-5 mb-5" style="display: none;" id="eError">
                    <h1 class="text-center">No Such Data Found...</h1>
                </div>
                <table class="table table-striped table-bordered mt-4" id="eTable">
                    <thead class="table table-primary">
                        <tr>
                            <th class="text-center">Username</th>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Batch</th>
                            <th class="text-center">Semester</th>
                            <th class="text-center">Attendance</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="eBody">
                        {% for e in extc %}
                        <tr>
                            <td class="text-center">{{ e.user.username }}</td>
                            <td class="text-center">{{ e.user.first_name }}</td>
                            <td class="text-center">{{ e.user.last_name }}</td>
                            <td class="text-center">{{ e.user.email }}</td>
                            <td class="text-center">{{ e.batch }}</td>
                            <td class="text-center">{{ e.semester }}</td>
                            <td class="text-center">{{ e.attendance }}</td>
                            <td>
                                <a href="/admin/student/details/{{ e.id }}" class="btn btn-block btn-primary">
                                    Edit <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td><a href="/admin/student/delete/{{ e.id }}" class="btn btn-danger btn-block">
                                Delete <i class="fas fa-trash"></i>
                            </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="alert alert-light page">
                    <span class="step-links">
                        {% if extc.has_previous %}
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5=1&page6={{page6}}">&laquo; first</a>
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{ extc.previous_page_number }}&page6={{page6}}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ extc.number }} of {{ extc.paginator.num_pages }}
                        </span>
                        {% if extc.has_next %}
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{ extc.next_page_number }}&page6={{page6}}">next</a>
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{ extc.paginator.num_pages }}&page6={{page6}}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <!-- Displaying Error for no student entry in department -->
                <div class="row top100">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="card error">
                            <h1 class="text-center">No Data Found of ExTC Department</h1>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- Mechanical -->
            <div id="mechanical" class="tab-pane">
                {% if mechanicals %}
                <div class="input-group mt-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text search">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input class="form-control" onkeyup="Search('mInput', 'mBody', 'mTable', 'mError')"
                        type="text" placeholder="Search by First Name or Last Name" aria-label="Search"
                        title="Search" name="searchQuery" id="mInput">
                </div>
                <!-- Displaying Error for Search -->
                <div class="card error mt-5 mb-5" style="display: none;" id="mError">
                    <h1 class="text-center">No Such Data Found...</h1>
                </div>
                <table class="table table-striped table-bordered mt-4" id="mTable">
                    <thead class="table table-primary">
                        <tr>
                            <th class="text-center">Username</th>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Batch</th>
                            <th class="text-center">Semester</th>
                            <th class="text-center">Attendance</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="mBody">
                        {% for mechanical in mechanicals %}
                        <tr>
                            <td class="text-center">{{ mechanical.user.username }}</td>
                            <td class="text-center">{{ mechanical.user.first_name }}</td>
                            <td class="text-center">{{ mechanical.user.last_name }}</td>
                            <td class="text-center">{{ mechanical.user.email }}</td>
                            <td class="text-center">{{ mechanical.batch }}</td>
                            <td class="text-center">{{ mechanical.semester }}</td>
                            <td class="text-center">{{ mechanical.attendance }}</td>
                            <td>
                                <a href="/admin/student/details/{{ mechanical.id }}" class="btn btn-primary btn-block">
                                    Edit <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/student/delete/{{ mechanical.id }}" class="btn btn-danger btn-block">
                                    Delete <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="alert alert-light page">
                    <span class="step-links">
                        {% if mechanicals.has_previous %}
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6=1">&laquo; first</a>
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{ mechanicals.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ mechanicals.number }} of {{ mechanicals.paginator.num_pages }}
                        </span>
                        {% if mechanicals.has_next %}
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{ mechanicals.next_page_number }}">next</a>
                        <a href="?page1={{page1}}&page2={{page2}}&page3={{page3}}&page4={{page4}}&page5={{page5}}&page6={{ mechanicals.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <!-- Displaying Error for no student entry in department -->
                <div class="row top100">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="card error">
                            <h1 class="text-center">No Data Found of Mechanical Department</h1>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>
<!-- Persistant Tabs -->
<script>
    $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });

    var activeTab = localStorage.getItem('activeTab');
    if (activeTab) {
        $('.nav-justified a[href="' + activeTab + '"]').tab('show');
    }
</script>
{% endblock %}